@page
@model DevOpsForAzureSQL.Pages.CustomersModel

@{
    ViewData["Title"] = "Customers";
}

<h1>Customers</h1>

<div>
    <h4>Customers</h4>
    <hr />
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>City</th>
            </tr>
        </thead>

        <tbody>
            @foreach(var c in Model.Customers)
            {
                <tr>
                    <td>@c.Id</td>
                    <td>@c.FirstName</td>
                    <td>@c.LastName</td>
                    <td>@c.City</td>
                </tr>    
            }
        </tbody>
    </table>   
</div>

